@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Rock+Salt&family=RocknRoll+One&display=swap');

:root {
    --primary-color: #EBECE9;
    --secondary-color: #476C21;
    /* --accent1-color: #122347; */
    --accent1-color: #0A1328;
    --accent2-color: #93B3CC;
    /* --accent2-color: #90AFCB; */

    --heading-font: 'RocknRoll One', serif, trebuchet;
    --paragraph-font: 'Instrument Serif', serif, trebuchet;

    --nav-background-color: #122347;
    --nav-link-color: #EBECE9;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #214083;
}

body  {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: var(--secondary-color);
    border: 15px solid var(--accent1-color);
    padding: 15px;
    color: var(--primary-color);
    box-sizing: border-box;
}



header {
    display: grid;
    padding: 60px 0;
    grid-template-columns: 1fr  3fr;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}

header nav, .now nav {
    padding: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: space-evenly;
    max-width: 940px;
    width: 100%;
    flex-wrap: wrap;
}

header nav a, .now nav a {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 90px;
    color: var(--nav-link-color);
    padding: 1rem;
    text-align: center;
    border: 5px solid;
    border-color: #476C21 #334E18 #A3D473 #5C8C2B;
    background-color: var(--accent1-color);
    height:auto;
    font-size: clamp(16px, 3.5vw, 20px);
    outline: 4px solid var(--nav-background-color);
    
}

header nav a:hover, .now nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: none;
    border-color: #5C8C2B #476C21 #334E18 #A3D473;
}

header img {
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 200px;
    width: 100%;
}

p {
    font-family: var(--paragraph-font);
}

/******** main ********/

.hero {
    display: block;
    width: 100%;
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    filter: brightness(60%);
    box-shadow: 0 0 30px 1px black;
}

h1 {
    width: 100%;
    padding: 10px 0;
    font-family: var(--heading-font);
    font-size: clamp(20px, 4vw, 60px);
    text-align: center;
    text-shadow: 7px 7px 8px var(--accent1-color);
    position: absolute; 
    top: 10%;
    left: 50%;
    transform: translateX(-50%); /* this helps with absolute centering */
    display:block;
    padding: 5px 170px;
    background-color: rgba(0, 0, 0, 0.5);
}

article {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: var(--accent2-color);
    padding: 5px 20px;
    font-size: 35px;
    width: 90%;
    background-color: rgba(0, 0, 0, .5);
}

article p {
    display: block;
    position: relative;
    top: 20px;
    text-align: left;
    font-size: clamp(18px, 3vw, 35px);

}

article img {
    float: right;
    margin: 10px;
    width: 200px;
    padding: 2px;
    background-color: var(--accent1-color);
}

section p{
    font-size: clamp(18px, 3vw, 25px);
    font-family: var(--paragraph-font);
    line-height: 2.5;
    text-align: center;
    background-color: #334E18;
    padding: 40px;
}

.figimg {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.figimg figure {
    flex-flow: column;
    width: 100%;
    max-width: 200px;
    padding: 0;
    padding: 10px;
    margin: 10px;
    background-color: var(--accent1-color);
}
section img {
    margin: auto;
    margin-bottom: 10px;
    width:100%;
    padding: 10px;
    text-align: center;
    align-items: center;

    margin: 0;
    padding: 0;
    border: 10px solid var(--accent1-color);
    box-sizing: border-box;
}
figcaption{
    margin-top: 10px;
    padding: 6px 2px 8px;
    text-align: center;
    font: var(--paragraph-font);
    font-size: 25px;
    justify-content: center;
    background-color: var(--accent1-color);
    letter-spacing: 2;
    box-shadow: 0 0 2px white;
    border: 2px solid black;

}



h2, .trip h1, .contact h1{
    margin: 40px auto;
    font-family: var(--heading-font);
    font-size: clamp(24px, 3vw, 35px);
    text-align: center;
    background-color: var(--accent1-color);
    text-decoration: none;
    background-color: #0A1328;
    border: 2px solid var(--accent2-color);
    padding: 10px 0;
    
}

/***** footer *****/

footer {
    display: grid;

    background-color: var(--accent1-color);
    margin: 30px 10px;
    padding: 20px 10px;
    border: 3px solid var(--accent2-color);
    grid-template-columns: 1fr 1fr;
}

footer p {
    color: var(--accent2-color);
    font-size: clamp(1.1rem, 4vw, 1.4rem);
    text-align: center;
    letter-spacing: 1px;
}

footer p span {
    padding: 0 5px;
}
.sociallinks {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.sociallinks a { 
    text-decoration: none;
    transition: all .3s ease;
    text-align: center;
}

.sociallinks img {
    width: 30px;
    padding: 2px;
    margin-left: 40px;
    box-shadow: 0 0 19px black;
    background-color: var(--nav-link-color);
}

.sociallinks a:hover img {
    transform: scale(.9);
}



.contact h1 {
    position: relative;
    top: -40px;
}

.home {
    display: grid;
    margin: 0 auto;
    font-size: clamp(16px, 4.5vw, 30px);
    background-color: var(--accent1-color);
    border: 1px solid var(--accent2-color);
    grid-template-columns: 1fr 1fr;
    width: 100%;
    place-items: center;
    letter-spacing: 2px;
}
.address, .number, .email {
    margin: 30px auto;
    text-align: left;
    width: 100%;

}
.address p {
    margin: 0;
}

.home img {
    display: flex;
    margin: auto;
    border: 3px solid black;
    width: clamp(200px, 30vw, 300px);
    height: auto;
    box-shadow: 0 0 5px white;

}

.home figcaption {
    color: black;
    background-color: var(--accent2-color);
}

iframe {
    display: block;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(200px, 40vw, 400px);
    border: 5px solid black;
    box-shadow: 0 0 5px white;
    box-sizing: border-box;
}

form {
    margin-top: 40px;
    background-color: lightgray;
    color: black;
    text-shadow: 0 0 3px white;
    border: 2px solid black;
    letter-spacing: 1px;
    font-weight: 300;
    box-shadow: 0 0 10px var(--accent2-color);
    padding: 15px;

}

.info input{
    width: clamp(20px, 70vw, 900px);
}
fieldset {
    margin: auto;
    border: 2px solid black;
    line-height: 2;
}

.q1 {
    padding: 10px;
    color: var(--nav-hover-link-color);
    text-align: center;
    background-color: var(--accent1-color);
    text-shadow: none;
    position: relative;
    top: -30px;
    font-size: clamp(1rem, 3vw, 30px);
    border: 2px solid black;
}

legend {
    padding: 0 .75rem;
    font-size: clamp(1rem, 3vw, 25px);
}

label {
    font-size: clamp(16px, 3vw, 20px);
}

.q3 {
    display: grid;
    margin: 10px auto;
    grid-template-columns: 1fr;
}

textarea {
    margin: 0 auto;
    width: clamp(100px, 70vw, 900px);
    height: 50px
    
}

.news {
    margin-bottom: 10px;
}


button {
    padding: 10px;
    display: block;
    margin: 15px auto;
    margin-bottom: 15px;
    width: 100px;
    color: var(--nav-link-color);
    text-align: center;
    border: 5px solid;
    border-color: #476C21 #334E18 #A3D473 #5C8C2B;
    background-color: var(--nav-background-color);
    height:auto;
    font-size: clamp(16px, 3.5vw, 20px);
    outline: 4px solid var(--nav-background-color);
}
button:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: none;
    border-color: #5C8C2B #476C21 #334E18 #A3D473;
}




.trip h1 {
    position: relative;
    top: -40px;
}


.location aside{
    margin: 10px auto;
    max-width: 300px;
    padding: 10px;
    background-color: #0A1328;
}

.location img {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 500px;
    border-color: lightgray;
}
.location p {
    margin: 0;
    font-size: 1.3rem;
    padding: 10px 0;
    line-height: 1.2;
    border-top: 2px solid var(--accent2-color);
    background-color: var(--accent1-color);
}


.now nav {
    margin: 100px auto;
}

.now nav a {
    width: clamp(90px, 40vw, 250px);
    text-decoration: none;
    font-size: clamp(16px, 10vw, 40px);
    position: relative;

}
.now nav a:before, 
.now nav a:after {
    content: '';
    display: block;
    position: absolute;
    width: 25%;
    height: 50%;
}
.now nav a::before {
    top: -15px;
    left: -15px;
    border: solid white;
    border-width: 1px 0 0 1px;
}
.now nav a:after {
    bottom: -15px;
    right: -15px;
    border: solid white;
    border-width: 0 1px 1px 0;
}
.now nav a:hover::before,
.now nav a:hover::after {
    width: calc(100% + 29px);
    height: calc(100% + 29px);
}
.now nav a:hover {
    transform: scale(.85);
    transition: all .3s ease;
}

.triptable {
    overflow-x: auto;
}
.triptable th, table, .triptable td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px 20px;
    margin: auto;
}
.triptable th {
    font-size: clamp(1rem, 3vw, 1.5rem);
    background-color: var(--accent1-color);
    border-color: var(--accent2-color);
}
.triptable td {
    text-align: center;
    background-color: var(--nav-link-color);
    color: var(--accent1-color);
}
.triptable td:first-child {
    text-align: left;
    background-color: var(--accent2-color);
}




/* .head {
    font: clamp(18px, 7vw, 30px);
    padding: 10px 0;
    width: 100%;
    top: 10%;
} */
.rafthome article {
    top: 50%;
}


.tripform {
    margin: 40px auto;
}
.tripform p {
   text-align: center;
   font-size: clamp(1rem, 5vw, 1.3rem);
}


.extra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    background-color: black;
    
}
.extra img{
    width: 100%;
    max-width: 400px;
}
.extra p {
    width: 100%;
    text-align: center;
    font-size: clamp(17px, 4vw, 24px);
    margin: auto;
    max-width: 300px;
}

@media screen and (max-width:720px) {
    header {
        display: block;
        padding: 20px;
    }
    header nav {
        max-width: 100%;
        flex-wrap: wrap;
    }
   
    header img {
        width: 200px;
        padding-bottom: 20px;
    }


    h1 {
        padding: 2px 80px;
        top: 0;
    }

    article {
        top: 30%;
        padding: 5px 10px;
    }
    article p {
        top: 20px;
        font-size: 18px;
    
    }
    article img {
        top: 5px;
        margin: 10px;
        width: 120px;
        padding: 2px;
    }
    

    footer{
        display: block;
    }
    footer p{
        text-align: center;
    }
    .sociallinks img {
        margin: 0 10px;
    }


    .home {
        grid-template-columns: 1fr;
    }

    .address, .number, .email {
        text-align: center;
        justify-content: center;
    }

    .iframe {
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
        border: 5px solid var(--accent2-color);
    }

    legend {
        text-align: center;
    }

    .q1 {
        top: -17px;
    }

    .now nav{
        margin: 10px auto;
    }
    .extra p {
        padding: 0;
    }
}

