@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Rock+Salt&family=RocknRoll+One&display=swap');

:root {
    --primary-color: #EBECE9;
    --secondary-color: #476C21;
    --accent1-color: #122347;
    --accent2-color: #90AFCB;

    --heading-font: 'RocknRoll One', serif, trebuchet;
    --paragraph-font: 'Instrument Serif', serif, trebuchet;

    --nav-background-color: #122347;
    --nav-link-color: #EBECE9;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #214083;
}

header {
    display: grid;
    padding: 60px 20px;
    font-size: clamp(16px, 3.5vw, 20px);
    grid-template-columns: 3fr  1fr;
    align-items: center;
    max-width: 960px;
    height: auto;
    /* display: none; */
}

header nav {
    /* grid-template-columns: 3fr  1fr; */
    background-color: var(--nav-background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    width: clamp(600px, 70vw, 800px);
    grid-column: 3/4;
    /* align-items: center; */
    /* margin-left: 12px; */
    
}

header nav a {
    display: block;
    width: 100px;
    color: var(--nav-link-color);
    padding: 1rem;
    text-align: center;
    border: 5px solid;
    border-color: #476C21 #334E18 #A3D473 #5C8C2B;
    background-color: var(--nav-background-color);
    height:auto;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: none;
    border-color: #5C8C2B #476C21 #334E18 #A3D473;
}

header img {
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: clamp(200px, 23vw, 300px);
}





p {
    font-family: var(--paragraph-font);
}





body {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: var(--secondary-color);
    border: 15px solid var(--accent1-color);
    padding: 15px;
    color: var(--primary-color);
}




/******** main ********/

.hero {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    filter: brightness(60%);
    box-shadow: 0 0 30px 1px black;
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(28px, 4vw, 60px);
    text-align: center;
    text-shadow: 7px 7px 8px var(--accent1-color);
    text-decoration: underline;
    position: absolute; 
    top: 22px;
    left: 50%;
    transform: translateX(-50%); /* this helps with absolute centering */
    display:block;
    padding: 5px 170px;
    background-color: rgba(0, 0, 0, 0.5);
}

article {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: var(--accent2-color);
    padding: 5px 20px;
    font-size: 35px;
    width: 90%;
    background-color: rgba(0, 0, 0, .5);
}

article p {
    padding-left: 5px;
    padding-top: 20px;
    text-align: left;
    display: block;
}

article img {
    float: right;
    margin: 10px;
    width: 200px;
    padding: 2px;
    background-color: var(--accent1-color);
}

section p {
    margin: 10px auto;
    padding: 10px 90px;
    text-align: center;
    font-size: 25px;
    line-height: 2;
}

section img {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    padding: 10px;
    text-align: center;
    background-color: var(--accent1-color);
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
}

figcaption{
    font: var(--paragraph-font);
    text-align: center;
}


div img {
    display: flex;
    place-items: center;
}

h2 {
    font-family: var(--heading-font);
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 7px 7px 8px var(--accent1-color) ;
    text-decoration: underline;
}





/***** footer *****/

footer {
    display: grid;

    background-color: var(--accent1-color);
    margin: 30px 10px;
    padding: 20px 10px;
    border: 3px solid var(--accent2-color);
    grid-template-columns: 1fr 1fr;
}

footer p {
    color: var(--accent2-color);
    font-size: 20px;
    /* word-spacing: clamp(5px, 3vw, 15px); */
    /* background-color: blue; */
    text-align: center;
}

footer p span {
    padding: 0 5px;
}
.sociallinks {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: #A3D473; */
    align-items: center;
    
}

.sociallinks a { 
    text-decoration: none;
    transition: all .3s ease;
    text-align: center;
}

.sociallinks img {
    width: 30px;
    padding: 2px;
    /* margin: 0 20px; */
    margin-left: 40px;
    box-shadow: 0 0 19px black;
    background-color: var(--nav-link-color);
}

.sociallinks a:hover img {
    transform: scale(.9);
}


@media screen and (max-width:720px) {
    header {
        display: block;
        padding: 20px;
    }
    header nav {
        max-width: 100%;
        flex-wrap: wrap;
    }
    header nav a {
        padding: 1rem .1rem;
        border: 2px solid;
        border-color: #476C21 #334E18 #A3D473 #5C8C2B;
    }
    header img {
        width: 200px;
        padding-bottom: 20px;
    }


    h1 {
        padding: 2px 80px;
        top: 0;
    }

    article {
        top: 30%;
        padding: 5px 10px;
    }
    article p {
        padding-top: 10px;
        font-size: 18px;
    }
    article img {
        margin: 10px;
        width: 150px;
        padding: 2px;
    }

    footer{
        display: block;
    }
    footer p{
        text-align: center;
    }
    .sociallinks img {
        margin: 0 20px;
    }

}







