@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Rock+Salt&family=RocknRoll+One&display=swap');

:root {
    --primary: darkblue;
    --secondary: lightgray;
    --tertiary: black;
    --quatiary: white;
    --quintiary: lightblue;
}

* {
    margin: 5px auto;
    max-width: 1200px;
    box-sizing: border-box;
}

body {
    font-family: "rocknroll one", 'Times New Roman', Times, serif;
    background-color: var(--quintiary);
}


header {
    margin: 20px auto;
    padding: 5px 0;
    font-size: clamp(16px, 1.5vw, 25px);
    text-align: center;
    color: var(--quatiary);
    text-shadow: 3px 3px 8px var(--tertiary);
    background-color: var(--primary);
    box-shadow: 0 0 10px 5px var(--tertiary);
}

fieldset {
    display: grid;
    padding: 10px 5px;
    max-width: 1000px;
    grid-gap: 20px;
    background-color: var(--secondary);
    font-size: clamp(16px, 4vw, 20px);
    font-family: trebuchet, 'Times New Roman', serif;
}


header, p, button {
    text-align: center;
}


label {
    text-align: left;
    
}



button {
    display: block;
    margin: 5px auto;
    width: 100px;
    background-color: var(--primary);
    color: var(--quatiary);
}

.labelq4 {
    display: block;
    padding: 10px;
    background-color: var(--tertiary);
    color: var(--quintiary);
    
}
button:hover {
    color: var(--tertiary);
    background-color: var(--secondary);
}

footer {
    margin: 20px auto;
    max-width: 1200;
    padding: 5px 0;
    text-align: center;
    font-size: clamp(18px, 2vw, 20px);
    color: var(--quatiary);
    background-color: var(--primary);
    
}



@media  screen and (max-width: 1200) {
    footer, header{
        margin: 20px 5px;
    }
}
@media screen and (max-width:1000px) {
    header, footer {
        margin: 20px 5px;
    }
    fieldset {
        margin: 0 10px;
    }
}