:root{
    --primary-color: steelblue;
    --secondary-color: gray;
    --accent1-color: black;
    --nav-background-color: #216298;
    --nav-link-color: white;
    --nav-hover-link-color: #ADF7FF;
    --nav-hover-background-color: #064980;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







/********* Nav *********/

nav{
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* 1. background color will be the color steelblue, which is a valid, named color  */
/* 2. padding or area between the content and border is set to 10 pixels for readability */
    
nav a {
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    text-shadow: 5px 5px 8px black;
    text-align: center;
    width: 17%;
    max-width: 840px;
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 5px 5px 5px 3px black;
    border: 5px solid;
    border-color:  #034275 #022F54 #1982D8 #0867B5;
}
    /* 1. foreground or font color will be white */
    /* 2. display will change from default of inline to block */
    /* 3. each anchor tag will have padding of 20px */
    
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: none;
    border-color: #0867B5 #034275 #022F54 #1982D8;
    box-shadow: none;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}


/********* Headers+text general *********/

h1 {
    color: steelblue;
    box-shadow: 0 3px 10px 5px lightgray;
    text-align: center;
    border: 2px;
    padding-bottom: 4px;
    border-bottom: 2px solid steelblue;
}
    /* 1. the foreground, font color is set to steelblue */

p { padding: 20px 40px 10px 20px; }
    /*1. padding between the paragraph content and the border is set to 10 pixels */


/********* MAIN *********/

.grid {
    display: grid;
    align-items: center;
}

main {
    padding: 30px;
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    margin-top: 27px;
    margin-left: 25px;
    margin-right: 35px;
    width: 180px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray; 
    float: right;
}
    /* 1. set width with a height that will adjust dynamically to fit the image's aspect ratio */
    /* 2. border shortcut that names the width, type of border, and color of the border */
    /* 3. padding between the image and the border */
    /* 4. a box shadow around the image border with zro offset and depth of 30px in gray */

main p {
    line-height: 2;
}

ul li {
    /* margin-left: 275px; */
    margin-left: 30px;
    line-height: 2;
}




/***** Class Selectors *****/

.box {
    margin: 10px .5px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}



/********* ASIDE *********/

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 0 0 20px gray; 
    /* margin: auto -important; */
}

aside h2 {
    position: absolute;
    top: 22px;
    left: 84px;
    text-shadow: 5px 5px 4px white;
}

aside img {
    width: 250px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 20px gray; 

    /* only width change necessary since the first "img" settings are the same except the width */
}

aside p {
    padding: 10px 20px;
    text-align: center;
    line-height: 2.3;
}





/********* FOOTER *********/

footer {
    border-top: 1px solid #000;
    text-align: center;
}



